.btn {
	@include transition();
	font-size: 20px;
    border-radius: 0;
    border: none;
    &.red {
        background: $super8-red;
        color: $super8-white;
        &:hover {
	        background: $super8-black;
        }
    }
    &.black {
        background: $super8-black;
        color: $super8-white;
        &:hover {
            background: $super8-orange;
        }
    }

    &.small {
        font-size: 15px;
    }

    &.large {
        height: 60px;
        line-height: 60px;
        padding: 0;

        width: 100%;
        @media (min-width: $screen-sm-min) {
            width: 335px;
        }
    }
}

.saving {
    height: 60px;
    background: $super8-red;
    margin-top: 40px;
    padding-top: 10px;

    width: 100%;
    @media (min-width: $screen-sm-min) {
        width: 335px;
    }
}