.btn {
    font-family: "aachenstd-bold";
	@include transition();
	font-size: 20px;
    border-radius: 0;
    border: none;
    &.red {
        background: $super8-red;
        color: $super8-white;
        &:hover {
	        background: $super8-black;
        }
    }
    &.black {
        background: $super8-black;
        color: $super8-white;
        &:hover {
            background: $super8-orange;
        }
    }

    &.small {
        font-size: 15px;
    }

    &.outline {
        border: 2px solid $super8-black;
        color: $super8-black;
        background: $super8-orange;
        &:hover {
            color: $super8-white;
        }
    }

    &.large {
        height: 60px;
        line-height: 60px;
        padding: 0;

        width: 100%;
        @media (min-width: $screen-sm-min) {
            width: 335px;
        }
    }

    &:active {
        &:focus {
            outline: none;
        }
    }
    &:focus {
        outline: none;
    }

}

.saving {
    height: 60px;
    background: $super8-red;
    margin-top: 40px;
    padding-top: 10px;

    width: 100%;
    @media (min-width: $screen-sm-min) {
        width: 335px;
    }

    &.small {
        height: 36px;
        padding: 0;
        .spinner {
            width: 36px;
            height: 36px;
        }
    }
}