$rotation: -6deg;
// $rotation: -0;


.content {
	overflow: hidden;
}

header {
	position: relative;
	padding: 50px 0;
	border-bottom: 10px solid $super8-red;
	@media (min-width: $screen-sm-min) {

	}
	@media (min-width: $screen-md-min) {
		
	}
	@media (min-width: $screen-lg-min) {
		
	}
	
	.super8 {
		width: 100%;
		font-size: 22px;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		z-index: 225;
	}

	.social {
		@media (min-width: $screen-sm-min) {
			position: absolute;
			right: 50px; 
			top: 50px;
			z-index: 250;
		}
	}

	.steps {
		text-align: center;
		@media (min-width: $screen-sm-min) {
			margin-top: 200px;
		}
		@media (min-width: $screen-md-min) {
			
		}
		@media (min-width: $screen-lg-min) {
			
		}
	}
	.step {
		display: inline-block;

		margin: 0 10px 40px 10px;
		@media (min-width: $screen-sm-min) {
			margin: 0 5px;
		}
		@media (min-width: $screen-md-min) {
			margin: 0 10px;
		}
		@media (min-width: $screen-lg-min) {
			
		}
	}

	.trigger {
		img {
			width: 83px;
			margin-bottom: 20px;
		}

		&.download {
			img {
				width: 90px;
			}
		}

		button {
			display: block;
			padding: 7px 15px 4px;
			margin: 0;
			text-transform: uppercase;
			letter-spacing: 0.8px;
			border: 0;

			line-height: 1.3;
			font-size: 18px;
			@media (min-width: $screen-sm-min) {
				line-height: 1;
				font-size: 16px;
			}
			@media (min-width: $screen-md-min) {
				font-size: 18px;
			}
			@media (min-width: $screen-lg-min) {
				
			}

			&:focus {
				outline: 0;
				box-shadow: none;
			}

		}

		&:hover {
			cursor: pointer;
			button {
				background: $super8-orange;
				color: $super8-white;
				text-decoration: none;
			}
		}
	}

	/* The only rule that matters */
	#video-background {
	/*  making the video fullscreen  */
	  position: absolute;
	  right: 0; 
	  bottom: 0;
	  min-width: 100%; 
	  min-height: 100%;
	  width: auto; 
	  height: auto;
	  z-index: -100;
	}
}

.banner {
	position: relative;
	z-index: 50;
	
	width: 100%;
	height: 100px;

	margin-top: -140px;
	@media (min-width: $screen-sm-min) {
		margin-top: -100px;
	}

	.rotate {
		background: $super8-red;
		width: 100%;
		transform: rotate($rotation);
		position: relative;
		&:after {
			content: ' ';
			display: block;
			background: $super8-red;
			display: block;
			position: absolute;
			left: -2000px;
			top: 0;
			width: 6000px;
			height: 100%;
			z-index: 10;
		}
	}

	.dates {
		position: relative;
		z-index: 20;
		text-align: center;
		
		padding: 20px 0;
		line-height: 1;
		font-size: 24px;
		@media (min-width: $screen-sm-min) {		
			padding: 0;
			line-height: 75px;
			font-size: 32px;
		}
		@media (min-width: $screen-md-min) {
			
		}
		@media (min-width: $screen-lg-min) {
			
		}

		.title {
			font-family: 'Blacksword';
			color: #000;
			display: inline-block;

			@media (min-width: $screen-sm-min) {
				margin-right: 10px;
			}
		}
		.date {
			font-family: 'Eagle-Light';
			color: $super8-orange;
			display: inline-block;
			padding-top: 10px;

			@media (min-width: $screen-sm-min) {
				margin-left: 10px;
				padding: 0;
			}
		}
	}

	.fill {
		background: $super8-orange;
	    width: 100%;
	    height: 200px;
		transform: rotate($rotation);
		&:after {
			content: ' ';
			display: block;
			background: $super8-orange;
			display: block;
			position: absolute;
			left: -2000px;
			top: 0;
			width: 6000px;
			height: 100%;
			z-index: 10;
		}
	}
}

.lightning {
	width: 45px;
}

.winner {
	background: $super8-black;
  	color: $super8-white;

	img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

  	.video {
  		margin-top: 35px;
  		margin-bottom: 50px;
  	}
}

.details { 
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-family: AachenStd-Bold;
	color: $super8-white;
	h2 {
		color: $super8-red;
	}

	a {
		color: $super8-red;
		&:hover {
			color: $super8-red;
			text-decoration: underline;
		}
	}

	.socials {
		text-align: center;

		.h1 {
			margin-bottom: 50px;
			font-size: 22px;
			@media (min-width: $screen-sm-min) {
				font-size: 36px;
			}
		}

		a {
			display: inline-block;
			padding: 0 10px;
			img {
				height: auto;
				width: 80px;
				@media (min-width: $screen-sm-min) {
					font-size: 36px;
				}
			}
		}
	}

	.finalists {
		.finalist {
			margin-bottom: 50px;
			@media (min-width: $screen-sm-min) {
				margin-bottom: 30px;
			}
		}
	}

	.profiles {
		.profile {
			display: inline-block;
			margin-bottom: 20px;
			
			width: 40%;
			@media (min-width: $screen-sm-min) {
				width: 24%;
			}

			h3 {
				font-size: 18px;
			}

			img {
				width: 100px;
				@media (min-width: $screen-sm-min) {
					// width: 24%;
				}
			}
		}
	}

	.icon {
		margin-top: 20px;
		max-width: 110px;
	}

	&.alt {
		background: $super8-black;
	}
}

.social {
	margin: 20px 0 40px 0;
	width: 100%;
	text-align: center;
	@media (min-width: $screen-sm-min) {
		margin: 0;
		width: auto;
	}

	a {
		display: inline-block;
		padding: 0 5px;
		img {
			width: 18px;
		}
	}
}

.logos {
	text-align: center;
	.logo {
		display: inline-block;
		margin: 0 10px;
		img {
			&.ofe {
				width: 100px;
				margin-top: 30px;
				margin-bottom: 10px;
			}
			&.apra {
				width: 160px;
				margin-top: 10px;
				margin-bottom: 30px;
			}
		}
		p {
			font-family: "Eagle-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
			text-transform: uppercase;
			color: #fff;
		}
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}