.terms {

	font-size: 11px;
	span {
		display: block;
	}
	.single {
		padding-left: 0px;
	}
	.double {
		padding-left: 15px;
	}
	.triple {
		padding-left: 30px;
	}
	.quad {
		padding-left: 45px;
	}
}

.termspopup {
	.overlay {
		padding-bottom: 20px;
	}
	.terms {
		color: #000 !important;
		background: $super8-white;
		border: none;
		font-family: arial, sans-serif;
		width: 100%;
		height: 400px;
		padding: 10px 15px;
		overflow: scroll;
		margin-bottom: 10px;
		span {
			color: #000 !important;
		}
	}
}