* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Blacksword';
  src: url('/fonts/Blacksword.eot');
  src: url('/fonts/Blacksword.woff2') format('woff2'),
       url('/fonts/Blacksword.woff') format('woff'),
       url('/fonts/Blacksword.ttf') format('truetype'),
       url('/fonts/Blacksword.svg#Blacksword') format('svg'),
       url('/fonts/Blacksword.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.blacksword {
	font-family: 'Blacksword';
}
@font-face {
  font-family: 'Eagle-Light';
  src: url('/fonts/Eagle-Light.eot');
  src: url('/fonts/Eagle-Light.woff2') format('woff2'),
       url('/fonts/Eagle-Light.woff') format('woff'),
       url('/fonts/Eagle-Light.ttf') format('truetype'),
       url('/fonts/Eagle-Light.svg#Eagle-Light') format('svg'),
       url('/fonts/Eagle-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.eagle-light {
	font-family: 'Eagle-Light';
}
@font-face {
  font-family: 'AachenStd-Bold';
  src: url('/fonts/AachenStd-Bold.eot');
  src: url('/fonts/AachenStd-Bold.woff2') format('woff2'),
       url('/fonts/AachenStd-Bold.woff') format('woff'),
       url('/fonts/AachenStd-Bold.ttf') format('truetype'),
       url('/fonts/AachenStd-Bold.svg#AachenStd-Bold') format('svg'),
       url('/fonts/AachenStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.aachenstd-bold {
	font-family: 'AachenStd-Bold';
}

body {
	font-family: "Eagle-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
}

h1,
.h1 {
  color: $super8-red;
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
  line-height: 1.2;
}

.lightning + h1,
.lightning + .h1 {
  margin-top: 20px;
  + p {
    margin-top: -20px;
  }
}

h2,
.h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "aachenstd-bold";
}

label {
  font-family: "aachenstd-bold";
  font-weight: 300;
}

h2 {
  font-size: 28px;
  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }
}