@font-face {
  font-family: 'Blacksword';
  font-style: normal;
  font-weight: 300;
  src: local('Blacksword'), local('Blacksword'), url(/fonts/Blacksword.otf) format('otf');
}
.blacksword {
	font-family: 'Blacksword';
}
@font-face {
  font-family: 'Eagle-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Eagle-Light'), local('Eagle-Light'), url(/fonts/Eagle-Light.otf) format('otf');
}
.eagle-light {
	font-family: 'Eagle-Light';
}
@font-face {
  font-family: 'AachenStd-Bold';
  font-style: normal;
  font-weight: 300;
  src: local('AachenStd-Bold'), local('AachenStd-Bold'), url(/fonts/AachenStd-Bold.otf) format('otf');
}
.aachenstd-bold {
	font-family: 'AachenStd-Bold';
}

body {
	font-family: "Eagle-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "aachenstd-bold";
}

label {
  font-family: "aachenstd-bold";
  font-weight: 300;
}

h2 {
  font-size: 28px;
  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }
}